[Desktop Entry]
Type=Application
Name=SAINT Controller
GenericName=Robot Controller
Comment=Controller app for SAINT.OS robots
Exec=saint-controller
Icon=com.saintos.Controller
Terminal=false
Categories=Network;RemoteAccess;Utility;
StartupNotify=true
StartupWMClass=saint-controller
Keywords=SAINT;OpenSAINT;Robot;Robotics;
